*, *:before, *:after {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }

:root{
    --player1: url(/img/xzbit.jpg);
    --player2: url(/img/Oprah-You-Get-A.jpg);
    --null: rgba(39, 12, 12, 0.349);
}
.game-board {
  display: grid;
  grid-template-rows: 200px 200px 200px;
  grid-template-columns: 200px 200px 200px;
  margin-bottom: 10px;
}

#message{
  text-align: center;
}

#board-setup{
  padding: 10px;
  margin: 0;
}
#replay{
  margin-bottom: 70px;
  height: 50px;
  width: 60px;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-image: radial-gradient(yellow, red);
}
header {
  background-image: radial-gradient(yellow, red);
  color: black;
  font-size: 5vmin;
  padding: 2vmin;
  text-align: center;
  width: 100%;

  }

.box {
    
  border: 1px solid #555;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(39, 17, 17);
}

footer{
  text-align: center;
  margin: 0;

}

img{
  border-radius: 50%;
}